@import url('https://fonts.cdnfonts.com/css/instagram-sans-condensed');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.imageContainer {
  position: relative;

  height: 0;
  width: 40%;

}

.flex-Container {
  width: 60%;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.con {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  padding-left: 130px;
  padding-right: 70px;
}

.card {
  flex: 1;
  max-width: 33.33%;
  margin-bottom: 40px;
  margin-right: 20px;
  background-color: #F7E6C4;
  font-family: 'Instagram Sans Condensed', sans-serif;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: rgb(0, 0, 0);
  text-align: center;
}



.card img {
  width: 380px;
  height: 500px;
  padding-top : 12px;
}

.searchLabel {
  font-size: 30px;
  font-family: 'Instagram Sans Condensed', sans-serif;
  text-align: center;
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.search input {
  width: 50%;
  height: 50px;
  border: 1px solid #8E8E93;
  border-radius: 40px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 40px
}

.search input::placeholder {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #8E8E93;
  padding-left: 10px;


}

@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0
  }

  body {
    width: 100%;
    height: 100%;
  }



  .flex-Container {
    width: 60%;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    
  }

  .con {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    width: 5%;
    height: 100%;
    justify-content: space-around;
    padding-left: 50px;
    margin-top: -40px;
    
  }

  .card {
    flex: 1;
    max-width: 33.33%;
    margin-bottom: 20px;
    margin-right: 20px;
    
   
    
  }



  .card img {
    width: 320px;
    height: 340px;
    
    

  }

  .search input {
    width: 80%;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-top: 40px
  }
}