
@import url('https://fonts.cdnfonts.com/css/instagram-sans-condensed');

.members {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.membersCon {
  display: flex;
  justify-content: center;
}

.members h1 {
  font-family: 'Instagram Sans Condensed', sans-serif;
 margin-top: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 105px;
  letter-spacing: 0.40em;
  color: #000000;
  align-self: center;
  margin-bottom: 10px;
  margin-left: 30px;
}

.members input {
  background: #E0E0E0;
  border-radius: 15px;
  width: 506px;
  height: 50px;
  font-size: 20px;
  border: none;
  padding-left: 25px;
  

}

.members input:focus {
  outline: none;
}

.members input::placeholder {
  padding-left: 10px;
  
  
}




.members button {
  align-self: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.members h2 {
  font-family: 'Instagram Sans Condensed', sans-serif;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
}


.membersdiv {
    font-family: 'Instagram Sans Condensed', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 30px;
  
}

.alertcontainer {
  background-color: rgb(255, 187, 187);
  text-align: center;
  font-size: large;
  font-family: 'Instagram Sans Condensed', sans-serif;
  margin-top: 40px;
  border-radius: 10px;
  color: rgb(243, 14, 52)
}

@media only screen and (max-width: 600px) {

  .members input {
  background: #ffffff;
  border-radius: 15px;
  width: 380px;
  height: 50px;
  font-size: 20px;
  border: none;
  padding-left: 25px;
  border: 1px solid #000000;
  

}

.members input:focus {
  outline: none;
}

.members input::placeholder {
  padding-left: 10px;
  
  
}
.members h1 {
  font-family: 'Instagram Sans Condensed', sans-serif;
  margin-top: 50px;
  font-style: normal;
  font-weight: 700;
  font-size:55px;
  line-height: 105px;
  letter-spacing: 0.40em;
  color: #000000;
  align-self: center;
  margin-bottom: 10px;
  margin-left: 30px;
}

}
