@import url('https://fonts.cdnfonts.com/css/instagram-sans-condensed');



.myRecipe {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 70px;
  align-items: flex-start;
  margin-top: 70px;
}

.myRecipeCards {
  flex: 1;
  max-width: 33.33%;
  margin-bottom: 40px;
  margin-right: 20px;

  font-family: 'Instagram Sans Condensed', sans-serif;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: rgb(0, 0, 0);
  text-align: center;
  padding-left: 40px;
 
  
}

.myRecipeCards img {
  width: 380px;
  height: auto;

}

.myRecipeCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.myRecipeLabel {
  text-align: center;
  font-family: 'Instagram Sans Condensed', sans-serif;
  font-size: 32px;

  letter-spacing: 0.50em;

  margin-top: 60px;
}

.myRecipeTitle {
  font-family: 'Instagram Sans Condensed', sans-serif;
  text-align: center;
}



@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0
  }

  body {
    width: 100%;
    height: 100%;
  }

  .myRecipeLabel h1 {
    padding-bottom: 40px;
    margin-left: 20px;
    margin-bottom: 40px;
  }



  .flex-Container {
    width: 60%;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;

  }

  .MyRecipeCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .myRecipe {
    display: flex;
    flex-wrap: wrap;
    width: 5%;
    height: 100%;
    justify-content: space-around;
    padding-left: 25px;
    margin-top: -40px;

  }

  .myRecipeCards {
    flex: 1;
    max-width: 33.33%;
    margin-bottom: 100px;
    margin-right: 20px;



  }

  .myRecipeCards img {
    width: 320px;
    height: 340px;

  }
  
}